## For CoreS3
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_QUAD=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_SPEED=80
CONFIG_FLASHMODE_QIO=y

CONFIG_MEDIA_INIT_MICROPHONE_AND_SPEAKER=y
CONFIG_MEDIA_I2S_RX_TX_SHARED=y
CONFIG_MEDIA_I2S_RX_DATA_PIN=14
CONFIG_MEDIA_I2S_TX_MCLK_PIN=0
CONFIG_MEDIA_I2S_TX_BCLK_PIN=34
CONFIG_MEDIA_I2S_TX_LRCLK_PIN=33
CONFIG_MEDIA_I2S_TX_DATA_PIN=13
CONFIG_MEDIA_I2S_TX_SLOT_LEFT_ONLY=y

CONFIG_USE_WIFI_PROVISIONING_SOFTAP=y
CONFIG_BSP_RESET_PROVISIONING_NONE=y

CONFIG_ENABLE_AVATAR=y
